@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, p, input, img, ul, ol, dl, li, dt, dd, textarea, figure {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

input, select, textarea {
  background: #fff;
  border: 0.08333rem solid #666;
  outline-style: none; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, i {
  font-weight: normal; }

* {
  box-sizing: border-box;
  font-size: 1rem; }

/* 
* 视觉1px  = 0.08333333333333333rem * 根部字体大小 ÷ dpr;
* 视觉12px = 1rem                   * 根部字体大小 ÷ dpr;
*/
